/* Добавьте следующие стили */

.byk {
    display: flex;
    justify-content: space-between; /* Равномерное распределение между блоками */
}

.dyel {
    flex: 1; /* Занимает равное пространство между блоками */
    max-width: 48%; /* Ширина блока, чтобы они не перекрывались */
    padding: 20px; /* Добавляем отступ для контента */
    border-radius: 23px;
    background: rgba(0, 0, 0, 0.4); /* Изменяем прозрачность фона */
}

.dyel h1, .dyel p {
    text-align: center;
    color: white;
    margin: 0; /* Убираем внешние отступы для текста */
}
