{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/css_chgm.css' %}">
<div class="background">
    <div class="byk">
        <div class="dyel">
            <h1>Дуэль</h1>
            <p>Пригласите друзей и вступайте в захватывающие соревнования . Проверьте, кто из вас лучше знает Татарстан и готов ли культурное путешествие вместе!   </p>
        </div>
        <div class="dyel">
            <h1>Дуэль</h1>
            <p>Пригласите друзей и вступайте в захватывающие соревнования . Проверьте, кто из вас лучше знает Татарстан и готов ли культурное путешествие вместе!   </p>
        </div>
    </div>
</div>
{% endblock %}

